{
  "openapi": "3.1.0",
  "info": {
    "title": "Elgiopay API Documentation",
    "description": "Accept mobile money, card, and bill payments across West and Central Africa.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox-api.elgiopay.com"
    }
  ],
  "tags": [
    {
      "name": "Webhooks",
      "description": "Elgiopay POSTs an event to your configured webhook URL whenever a payment or payout reaches a terminal state. Use webhooks to update your own database, send receipts, fulfil orders, or notify your users — anything you would otherwise discover by polling `GET /payments/{transaction_id}`.\n\nConfigure webhooks from your **app dashboard**: paste one or more HTTPS URLs, enable delivery, and copy your **signing secret** (a `whsec_…` string). The secret is shown only once — at creation and after each rotation — so store it server-side immediately.\n\n## Events\n\n| Event | Fired when |\n|---|---|\n| `payment.completed` | A charge succeeds and funds settle to your balance. |\n| `payment.failed` | A charge is declined or the customer cancels. |\n| `payment.pin_available` | A prepaid voucher/token PIN has been issued for a completed bill or subscription payment. Fires only for transactions that produce an out-of-band PIN (e.g. Maviance prepaid subscriptions); arrives after `payment.completed`, once the upstream provider releases the PIN. The `data.pin` field carries the value — deliver it to your customer over a secure channel. |\n| `payout.completed` | A payout has been disbursed to the recipient. |\n| `payout.failed` | A payout was rejected by the provider. |\n\nWe do **not** emit events for intermediate states (`pending`, `processing`). If you need those, poll the relevant `GET` endpoint.\n\n## Payload\n\nEvery webhook is a POST with `Content-Type: application/json` and the following envelope:\n\n```json\n{\n  \"id\": \"evt_3aB9xK2pQrSt7uVwXyZ1mN5oPqRsTuVw\",\n  \"event\": \"payment.completed\",\n  \"created\": 1716200000,\n  \"data\": { ... }\n}\n```\n\n| Field | Description |\n|---|---|\n| `id` | Unique event id. Use it for deduplication — the same id may be delivered more than once. |\n| `event` | The event type (see table above). |\n| `created` | Unix timestamp of when the event was created. |\n| `data` | The same object you would receive from the corresponding `GET` endpoint. For `payment.*` it matches `GET /v1/payments/{transaction_id}`; for `payout.*` it matches `GET /v1/payouts/{payout_id}`. |\n\n## Signature verification\n\nEvery request includes:\n\n```\nX-Elgiopay-Signature: t=1716200000,v1=5b1c…\nX-Elgiopay-Event: payment.completed\nX-Elgiopay-Event-Id: evt_3aB9xK2pQrSt7uVwXyZ1mN5oPqRsTuVw\n```\n\n- `t` — Unix timestamp the signature was generated at.\n- `v1` — HMAC-SHA256 hex digest of `\"{t}.{raw_request_body}\"` using your `whsec_…` secret.\n\nTo verify a webhook:\n\n1. Read the **raw** request body. Do not parse it first — even reformatting whitespace will break the signature.\n2. Parse the `X-Elgiopay-Signature` header into `t` and `v1`.\n3. Reject the request if `t` is more than **5 minutes** in the past — this prevents replay attacks.\n4. Compute `expected = HMAC_SHA256(secret, t + \".\" + raw_body)`.\n5. Compare `expected` to `v1` using a **constant-time** comparison (`hash_equals` in PHP, `crypto.timingSafeEqual` in Node).\n6. If they match, dedupe by `X-Elgiopay-Event-Id` and process.\n\n### PHP\n\n```php\n$payload = file_get_contents('php://input');\n$header = $_SERVER['HTTP_X_ELGIOPAY_SIGNATURE'] ?? '';\n$parts = [];\nforeach (explode(',', $header) as $kv) {\n    [$k, $v] = explode('=', $kv, 2);\n    $parts[$k] = $v;\n}\nif (abs(time() - (int) $parts['t']) > 300) {\n    http_response_code(400); exit('stale');\n}\n$expected = hash_hmac('sha256', $parts['t'].'.'.$payload, $webhookSecret);\nif (!hash_equals($expected, $parts['v1'])) {\n    http_response_code(400); exit('bad signature');\n}\n$event = json_decode($payload, true);\n```\n\n### Node.js / JavaScript\n\n```js\nconst crypto = require('crypto');\n\napp.post('/webhook', express.raw({ type: 'application/json' }), (req, res) => {\n  const header = req.header('X-Elgiopay-Signature') || '';\n  const parts = Object.fromEntries(header.split(',').map(kv => kv.split('=')));\n  if (Math.abs(Date.now() / 1000 - Number(parts.t)) > 300) {\n    return res.status(400).send('stale');\n  }\n  const expected = crypto\n    .createHmac('sha256', process.env.ELGIOPAY_WEBHOOK_SECRET)\n    .update(`${parts.t}.${req.body.toString()}`)\n    .digest('hex');\n  if (!crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(parts.v1))) {\n    return res.status(400).send('bad signature');\n  }\n  const event = JSON.parse(req.body.toString());\n  res.status(200).send('ok');\n});\n```\n\n### Python\n\n```python\nimport hmac, hashlib, time\n\ndef verify(raw_body: bytes, header: str, secret: str) -> dict:\n    parts = dict(p.split('=', 1) for p in header.split(','))\n    if abs(time.time() - int(parts['t'])) > 300:\n        raise ValueError('stale')\n    signed = f\"{parts['t']}.{raw_body.decode()}\".encode()\n    expected = hmac.new(secret.encode(), signed, hashlib.sha256).hexdigest()\n    if not hmac.compare_digest(expected, parts['v1']):\n        raise ValueError('bad signature')\n    import json\n    return json.loads(raw_body)\n```\n\n### Go\n\n```go\nimport (\n    \"crypto/hmac\"\n    \"crypto/sha256\"\n    \"encoding/hex\"\n    \"io\"\n    \"net/http\"\n    \"strconv\"\n    \"strings\"\n    \"time\"\n)\n\nfunc verify(r *http.Request, secret string) ([]byte, error) {\n    body, _ := io.ReadAll(r.Body)\n    parts := map[string]string{}\n    for _, kv := range strings.Split(r.Header.Get(\"X-Elgiopay-Signature\"), \",\") {\n        if i := strings.IndexByte(kv, '='); i >= 0 {\n            parts[kv[:i]] = kv[i+1:]\n        }\n    }\n    t, _ := strconv.ParseInt(parts[\"t\"], 10, 64)\n    if time.Now().Unix()-t > 300 || t-time.Now().Unix() > 300 {\n        return nil, http.ErrAbortHandler\n    }\n    mac := hmac.New(sha256.New, []byte(secret))\n    mac.Write([]byte(parts[\"t\"] + \".\" + string(body)))\n    expected := hex.EncodeToString(mac.Sum(nil))\n    if !hmac.Equal([]byte(expected), []byte(parts[\"v1\"])) {\n        return nil, http.ErrAbortHandler\n    }\n    return body, nil\n}\n```\n\n### Ruby\n\n```ruby\nrequire 'openssl'\n\ndef verify(raw_body, header, secret)\n  parts = header.split(',').map { |kv| kv.split('=', 2) }.to_h\n  raise 'stale' if (Time.now.to_i - parts['t'].to_i).abs > 300\n  expected = OpenSSL::HMAC.hexdigest('SHA256', secret, \"#{parts['t']}.#{raw_body}\")\n  raise 'bad signature' unless Rack::Utils.secure_compare(expected, parts['v1'])\n  JSON.parse(raw_body)\nend\n```\n\n## Retries\n\nIf your endpoint does not return a `2xx` status code within 30 seconds, we retry with exponential backoff:\n\n| Attempt | Delay |\n|---|---|\n| 2 | 1 minute |\n| 3 | 5 minutes |\n| 4 | 30 minutes |\n| 5 | 2 hours |\n| 6 | 6 hours |\n| 7 | 12 hours |\n| 8 (final) | 24 hours |\n\nAfter 7 retries (~45 hours later) the delivery is marked permanently failed. You can manually resend any delivery from the **Webhook deliveries** page in your dashboard.\n\n## Best practices\n\n- **Return 2xx fast.** Acknowledge receipt within a few seconds, queue heavy work for later. Long handlers cause unnecessary retries.\n- **Dedupe by `id`.** The same event id may be delivered more than once — both because of network retries and manual resends. Track which event ids you have processed.\n- **Use HTTPS.** Plain `http://` URLs are accepted but expose your secret and payloads in transit.\n- **Rotate your secret periodically.** Rotation invalidates the previous secret immediately, so plan a deployment.\n- **Never trust unverified webhooks.** Always verify the signature before reading any field from `data`."
    },
    {
      "name": "Testing",
      "description": "The sandbox replays deterministic outcomes — no real money moves and no real provider is contacted. Outcomes are driven by the `customer_phone` you send on `POST /payments` (or the `recipient_phone` you send on `POST /payouts`). Any phone not listed below falls back to a successful payment (`completed`, `error_code: 0`).\n\n## Mobile money — phone-driven scenarios\n\nTwo number ranges are reserved by the simulator:\n\n- `699000XXX` → Orange Money flavour\n- `677000XXX` → MTN MoMo flavour\n\nBehaviour is identical between the two ranges, so each row below applies to the matching `699000XXX` *and* `677000XXX` number.\n\n### Success and pending-then-success\n\n| Phone (Orange / MTN) | Outcome | After |\n|---|---|---|\n| `699000000` / `677000000` | `completed` | Immediate |\n| `699000010` / `677000010` | `completed` | 10 seconds |\n| `699000030` / `677000030` | `completed` | 30 seconds |\n| `699000060` / `677000060` | `completed` | 1 minute |\n| `699000120` / `677000120` | `completed` | 2 minutes |\n\nThe delayed numbers initially return `status: \"pending\"`. `GET /payments/{transaction_id}` keeps returning `pending` until the wall clock crosses the completion time, then flips to `completed`. Use them to verify your polling and webhook handling end-to-end.\n\n### Failures\n\nAll failures return `status: \"failed\"` with a 4-digit `error_code` in the `9200` range so they're never confused with a real provider error.\n\n| Phone (Orange / MTN) | `error_code` | Meaning |\n|---|---|---|\n| `699000201` / `677000201` | `9201` | Customer rejected the USSD/STK prompt |\n| `699000202` / `677000202` | `9202` | Insufficient balance on the customer's wallet |\n| `699000203` / `677000203` | `9203` | Customer did not confirm in time (timeout) |\n| `699000204` / `677000204` | `9204` | Generic transaction failure |\n\n### Default\n\nAny phone number not in the tables above resolves to an immediate `completed` outcome. This mirrors MTN's own sandbox behaviour (\"any other number → success\").\n\n### Payouts\n\nThe same tables apply to `POST /payouts`. Send the test number as `recipient_phone` — the simulator picks the matching outcome and `GET /payouts/{payout_id}` follows the same `pending` → `completed` / `failed` flow.\n\n## Putting it together\n\n1. Authenticate with a `pk_test_…` key against `https://sandbox-api.elgiopay.com`.\n2. Issue `POST /payments` (or `POST /payouts`) using one of the test phone numbers above.\n3. Poll `GET /payments/{transaction_id}` (or wait for your webhook) until the status reaches a terminal state.\n4. Pair a delayed-success number (`699000060`, `677000120`, …) with a real webhook URL to validate your end-to-end pipeline before going live."
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Payouts",
      "description": ""
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "Generate your API keys from your <a href=\"/dashboard\">app dashboard</a>. Use <code>pk_test_</code> keys for the sandbox and <code>pk_live_</code> keys for production."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/api/v1/balance": {
      "get": {
        "summary": "Get balance",
        "operationId": "getBalance",
        "description": "Returns your app's available, pending, and total balance for the requested currency.",
        "parameters": [
          {
            "in": "query",
            "name": "currency",
            "description": "Currency code (XAF, XOF, EUR). Default: XAF.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Currency code (XAF, XOF, EUR). Default: XAF.",
              "examples": [
                "XAF"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "examples": [
                            "XAF"
                          ]
                        },
                        "available_balance": {
                          "type": "number",
                          "examples": [
                            124500
                          ]
                        },
                        "pending_balance": {
                          "type": "number",
                          "examples": [
                            5000
                          ]
                        },
                        "total_balance": {
                          "type": "number",
                          "examples": [
                            129500
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "currency": "XAF",
                        "available_balance": 124500,
                        "pending_balance": 5000,
                        "total_balance": 129500
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Balance"
        ]
      }
    },
    "/api/v1/bills": {
      "get": {
        "summary": "List available bill services",
        "operationId": "listAvailableBillServices",
        "description": "Returns the list of bill services your app can pay (electricity, water,\nTV, etc.), optionally filtered by category. The service `code` returned\nhere is what you pass to `/bills/get-bill` and `/bills/pay`.",
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "description": "Filter by category.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by category.",
              "examples": [
                "electricity"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "examples": [
                                  "eneo_postpaid"
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "ENEO Postpaid"
                                ]
                              },
                              "category": {
                                "type": "string",
                                "examples": [
                                  "electricity"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "examples": [
                                  "bill"
                                ]
                              },
                              "description": {
                                "type": "string",
                                "examples": [
                                  "Pay your ENEO postpaid electricity bill"
                                ]
                              },
                              "currency": {
                                "type": "string",
                                "examples": [
                                  "XAF"
                                ]
                              },
                              "min_amount": {
                                "type": "integer",
                                "examples": [
                                  500
                                ]
                              },
                              "max_amount": {
                                "type": "integer",
                                "examples": [
                                  500000
                                ]
                              }
                            }
                          },
                          "examples": [
                            [
                              {
                                "code": "eneo_postpaid",
                                "name": "ENEO Postpaid",
                                "category": "electricity",
                                "type": "bill",
                                "description": "Pay your ENEO postpaid electricity bill",
                                "currency": "XAF",
                                "min_amount": 500,
                                "max_amount": 500000
                              }
                            ]
                          ]
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "electricity",
                              "water",
                              "tv"
                            ]
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "services": [
                          {
                            "code": "eneo_postpaid",
                            "name": "ENEO Postpaid",
                            "category": "electricity",
                            "type": "bill",
                            "description": "Pay your ENEO postpaid electricity bill",
                            "currency": "XAF",
                            "min_amount": 500,
                            "max_amount": 500000
                          }
                        ],
                        "categories": [
                          "electricity",
                          "water",
                          "tv"
                        ],
                        "total": 1
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Bills"
        ]
      }
    },
    "/api/v1/bills/get-bill": {
      "post": {
        "summary": "Get bill details",
        "operationId": "getBillDetails",
        "description": "Fetch the outstanding bill amount and customer details for a given\nservice and account number. Call this before `/bills/pay` to show your\ncustomer what they owe.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string",
                          "examples": [
                            "ENEO Postpaid"
                          ]
                        },
                        "account_number": {
                          "type": "string",
                          "examples": [
                            "1234567890"
                          ]
                        },
                        "bill_info": {
                          "type": "object",
                          "properties": {
                            "customer_name": {
                              "type": "string",
                              "examples": [
                                "John Doe"
                              ]
                            },
                            "amount_due": {
                              "type": "number",
                              "examples": [
                                15400
                              ]
                            },
                            "currency": {
                              "type": "string",
                              "examples": [
                                "XAF"
                              ]
                            },
                            "due_date": {
                              "type": "string",
                              "examples": [
                                "2026-06-15"
                              ]
                            },
                            "bill_reference": {
                              "type": "string",
                              "examples": [
                                "BILL-2026-0042"
                              ]
                            }
                          }
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "service": "ENEO Postpaid",
                        "account_number": "1234567890",
                        "bill_info": {
                          "customer_name": "John Doe",
                          "amount_due": 15400,
                          "currency": "XAF",
                          "due_date": "2026-06-15",
                          "bill_reference": "BILL-2026-0042"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The service code field is required."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "service_code": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The service code field is required."
                            ]
                          ]
                        },
                        "account_number": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The account number field is required."
                            ]
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "message": "The service code field is required.",
                      "errors": {
                        "service_code": [
                          "The service code field is required."
                        ],
                        "account_number": [
                          "The account number field is required."
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Bills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_code": {
                    "type": "string",
                    "description": "The service code from `/bills`.",
                    "examples": [
                      "eneo_postpaid"
                    ]
                  },
                  "account_number": {
                    "type": "string",
                    "description": "The customer's account/meter number with the service provider.",
                    "examples": [
                      "1234567890"
                    ]
                  }
                },
                "required": [
                  "service_code",
                  "account_number"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/bills/pay": {
      "post": {
        "summary": "Pay a bill",
        "operationId": "payABill",
        "description": "Charge the customer and settle the bill with the service provider. The\ncustomer will receive a mobile money prompt to authorize the charge.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "string",
                          "examples": [
                            "BILL_ABC123DEF456"
                          ]
                        },
                        "type": {
                          "type": "string",
                          "examples": [
                            "BILL"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "examples": [
                            "pending"
                          ]
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "examples": [
                                15400
                              ]
                            },
                            "currency": {
                              "type": "string",
                              "examples": [
                                "XAF"
                              ]
                            }
                          }
                        },
                        "payment": {
                          "type": "object",
                          "properties": {
                            "method": {
                              "type": "string",
                              "examples": [
                                "maviance"
                              ]
                            }
                          }
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "phone": {
                              "type": "string",
                              "examples": [
                                "+237600000000"
                              ]
                            },
                            "name": {
                              "type": "string",
                              "examples": [
                                "John Doe"
                              ]
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "service_code": {
                              "type": "string",
                              "examples": [
                                "eneo_postpaid"
                              ]
                            },
                            "service_name": {
                              "type": "string",
                              "examples": [
                                "ENEO Postpaid"
                              ]
                            },
                            "account_number": {
                              "type": "string",
                              "examples": [
                                "1234567890"
                              ]
                            },
                            "category": {
                              "type": "string",
                              "examples": [
                                "electricity"
                              ]
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "examples": [
                            "2026-05-20T10:30:00+00:00"
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "transaction_id": "BILL_ABC123DEF456",
                        "type": "BILL",
                        "status": "pending",
                        "amount": {
                          "total": 15400,
                          "currency": "XAF"
                        },
                        "payment": {
                          "method": "maviance"
                        },
                        "customer": {
                          "phone": "+237600000000",
                          "name": "John Doe"
                        },
                        "metadata": {
                          "service_code": "eneo_postpaid",
                          "service_name": "ENEO Postpaid",
                          "account_number": "1234567890",
                          "category": "electricity"
                        },
                        "created_at": "2026-05-20T10:30:00+00:00"
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The amount must be at least 1."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The amount must be at least 1."
                            ]
                          ]
                        },
                        "customer_phone": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The customer phone field is required."
                            ]
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "message": "The amount must be at least 1.",
                      "errors": {
                        "amount": [
                          "The amount must be at least 1."
                        ],
                        "customer_phone": [
                          "The customer phone field is required."
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Bills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_code": {
                    "type": "string",
                    "description": "",
                    "examples": [
                      "eneo_postpaid"
                    ]
                  },
                  "account_number": {
                    "type": "string",
                    "description": "",
                    "examples": [
                      "1234567890"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount to pay in the service's currency.",
                    "examples": [
                      15400
                    ]
                  },
                  "customer_phone": {
                    "type": "string",
                    "description": "Mobile money number that will be charged.",
                    "examples": [
                      "+237600000000"
                    ]
                  },
                  "customer_name": {
                    "type": "string",
                    "description": "Customer's display name.",
                    "examples": [
                      "John Doe"
                    ]
                  },
                  "customer_email": {
                    "type": "string",
                    "description": "Optional receipt email.",
                    "examples": [
                      "john@example.com"
                    ]
                  },
                  "reference": {
                    "type": "string",
                    "description": "Your own reference for reconciliation.",
                    "examples": [
                      "ORDER-123"
                    ]
                  },
                  "item_id": {
                    "type": "string",
                    "description": "Optional payable item id returned by `/bills/get-bill`.",
                    "examples": [
                      "pi-9988"
                    ]
                  }
                },
                "required": [
                  "service_code",
                  "account_number",
                  "amount",
                  "customer_phone"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/payouts/{payoutId}/verify": {
      "post": {
        "summary": "",
        "operationId": "postApiV1PayoutsPayoutIdVerify",
        "description": "",
        "parameters": [],
        "responses": {
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "API access is only allowed from api. or sandbox-api. subdomains"
                      ]
                    }
                  },
                  "examples": [
                    {
                      "error": "Unauthorized",
                      "message": "API access is only allowed from api. or sandbox-api. subdomains"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Endpoints"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "payoutId",
          "description": "",
          "required": true,
          "schema": {
            "type": "string",
            "examples": [
              "architecto"
            ]
          }
        }
      ]
    },
    "/api/v1/payments": {
      "post": {
        "summary": "Initiate a payment",
        "operationId": "initiateAPayment",
        "description": "Create a new payment transaction. The customer will receive a mobile money\nprompt on their phone to authorize the charge.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "transaction_id": {
                      "type": "string",
                      "examples": [
                        "TXN_ABC123DEF456"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "examples": [
                        "pending"
                      ]
                    },
                    "payment_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "examples": [
                        null
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Payment initiated successfully"
                      ]
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "transaction_id": "TXN_ABC123DEF456",
                      "status": "pending",
                      "payment_url": null,
                      "message": "Payment initiated successfully"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Validation failed"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid"
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The amount field is required."
                            ]
                          ]
                        },
                        "payment_method": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The selected payment method is invalid."
                            ]
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "error": "Validation failed",
                      "message": "The given data was invalid",
                      "errors": {
                        "amount": [
                          "The amount field is required."
                        ],
                        "payment_method": [
                          "The selected payment method is invalid."
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Must be at least 1.",
                    "examples": [
                      16
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "",
                    "enum": [
                      "XAF",
                      "XOF",
                      "EUR"
                    ],
                    "examples": [
                      "XAF"
                    ]
                  },
                  "payment_method": {
                    "type": "string",
                    "description": "",
                    "enum": [
                      "mtn_mobile_money",
                      "orange_money"
                    ],
                    "examples": [
                      "mtn_mobile_money"
                    ]
                  },
                  "customer_phone": {
                    "type": "string",
                    "description": "",
                    "examples": [
                      "architecto"
                    ]
                  },
                  "customer_name": {
                    "type": "string",
                    "description": "Must not be greater than 255 characters.",
                    "examples": [
                      "n"
                    ]
                  },
                  "customer_email": {
                    "type": "string",
                    "description": "Must be a valid email address. Must not be greater than 255 characters.",
                    "examples": [
                      "ashly64@example.com"
                    ]
                  },
                  "reference": {
                    "type": "string",
                    "description": "Must not be greater than 255 characters.",
                    "examples": [
                      "v"
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "description": "",
                    "properties": {},
                    "examples": [
                      null
                    ]
                  },
                  "surcharge": {
                    "type": "number",
                    "description": "Must be at least 0.",
                    "examples": [
                      42
                    ]
                  }
                },
                "required": [
                  "amount",
                  "payment_method",
                  "customer_phone"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{transactionId}": {
      "get": {
        "summary": "Get payment status",
        "operationId": "getPaymentStatus",
        "description": "Returns the current status of a transaction. If the transaction is still\npending or processing, the system attempts a live verification with the\nprovider before responding.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string",
                      "examples": [
                        "TXN_ABC123DEF456"
                      ]
                    },
                    "type": {
                      "type": "string",
                      "examples": [
                        "CHARGE"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "examples": [
                        "completed"
                      ]
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number",
                          "examples": [
                            1000
                          ]
                        },
                        "currency": {
                          "type": "string",
                          "examples": [
                            "XAF"
                          ]
                        },
                        "fees": {
                          "type": "number",
                          "examples": [
                            30
                          ]
                        },
                        "net_amount": {
                          "type": "number",
                          "examples": [
                            970
                          ]
                        }
                      }
                    },
                    "payment": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "examples": [
                            "mtn_mobile_money"
                          ]
                        }
                      }
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "examples": [
                            "+237600000000"
                          ]
                        },
                        "name": {
                          "type": "string",
                          "examples": [
                            "John Doe"
                          ]
                        },
                        "email": {
                          "type": "string",
                          "examples": [
                            "john@example.com"
                          ]
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "order_id": {
                          "type": "string",
                          "examples": [
                            "ORD-123"
                          ]
                        }
                      }
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Order ORD-123"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "examples": [
                        "2026-05-20T10:30:00+00:00"
                      ]
                    },
                    "updated_at": {
                      "type": "string",
                      "examples": [
                        "2026-05-20T10:32:15+00:00"
                      ]
                    },
                    "completed_at": {
                      "type": "string",
                      "examples": [
                        "2026-05-20T10:32:15+00:00"
                      ]
                    }
                  },
                  "examples": [
                    {
                      "transaction_id": "TXN_ABC123DEF456",
                      "type": "CHARGE",
                      "status": "completed",
                      "amount": {
                        "total": 1000,
                        "currency": "XAF",
                        "fees": 30,
                        "net_amount": 970
                      },
                      "payment": {
                        "method": "mtn_mobile_money"
                      },
                      "customer": {
                        "phone": "+237600000000",
                        "name": "John Doe",
                        "email": "john@example.com"
                      },
                      "metadata": {
                        "order_id": "ORD-123"
                      },
                      "description": "Order ORD-123",
                      "created_at": "2026-05-20T10:30:00+00:00",
                      "updated_at": "2026-05-20T10:32:15+00:00",
                      "completed_at": "2026-05-20T10:32:15+00:00"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Transaction not found"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "The specified transaction does not exist"
                      ]
                    }
                  },
                  "examples": [
                    {
                      "error": "Transaction not found",
                      "message": "The specified transaction does not exist"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payments"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "transactionId",
          "description": "The transaction identifier returned when the payment was initiated.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": [
              "TXN_ABC123DEF456"
            ]
          }
        }
      ]
    },
    "/api/v1/payments/{transactionId}/verify": {
      "post": {
        "summary": "Verify a payment",
        "operationId": "verifyAPayment",
        "description": "Force a live verification of the transaction against the payment provider\nand update its status. Useful when a webhook was missed or you want to\nconfirm a payment before delivering goods.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string",
                      "examples": [
                        "TXN_ABC123DEF456"
                      ]
                    },
                    "type": {
                      "type": "string",
                      "examples": [
                        "CHARGE"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "examples": [
                        "completed"
                      ]
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number",
                          "examples": [
                            1000
                          ]
                        },
                        "currency": {
                          "type": "string",
                          "examples": [
                            "XAF"
                          ]
                        }
                      }
                    },
                    "payment": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "examples": [
                            "mtn_mobile_money"
                          ]
                        }
                      }
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "examples": [
                            "+237600000000"
                          ]
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "examples": [
                        "2026-05-20T10:30:00+00:00"
                      ]
                    },
                    "completed_at": {
                      "type": "string",
                      "examples": [
                        "2026-05-20T10:32:15+00:00"
                      ]
                    }
                  },
                  "examples": [
                    {
                      "transaction_id": "TXN_ABC123DEF456",
                      "type": "CHARGE",
                      "status": "completed",
                      "amount": {
                        "total": 1000,
                        "currency": "XAF"
                      },
                      "payment": {
                        "method": "mtn_mobile_money"
                      },
                      "customer": {
                        "phone": "+237600000000"
                      },
                      "created_at": "2026-05-20T10:30:00+00:00",
                      "completed_at": "2026-05-20T10:32:15+00:00"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string",
                      "examples": [
                        "Verification failed"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Payment was declined by the provider"
                      ]
                    }
                  },
                  "examples": [
                    {
                      "success": false,
                      "error": "Verification failed",
                      "message": "Payment was declined by the provider"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payments"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "transactionId",
          "description": "",
          "required": true,
          "schema": {
            "type": "string",
            "examples": [
              "TXN_ABC123DEF456"
            ]
          }
        }
      ]
    },
    "/api/v1/payouts": {
      "get": {
        "summary": "List payouts",
        "operationId": "listPayouts",
        "description": "Returns a paginated list of payouts created by your app, most recent first.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "payout_id": {
                            "type": "string",
                            "examples": [
                              "POabcdef1234567890abcdef1234567890"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "examples": [
                              "completed"
                            ]
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "total": {
                                "type": "number",
                                "examples": [
                                  5000
                                ]
                              },
                              "currency": {
                                "type": "string",
                                "examples": [
                                  "XAF"
                                ]
                              }
                            }
                          },
                          "payout_method": {
                            "type": "string",
                            "examples": [
                              "mtn_mobile_money"
                            ]
                          },
                          "recipient": {
                            "type": "object",
                            "properties": {
                              "phone": {
                                "type": "string",
                                "examples": [
                                  "+237600000000"
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "Jane Doe"
                                ]
                              }
                            }
                          },
                          "reference": {
                            "type": "string",
                            "examples": [
                              "refund-ORD-123"
                            ]
                          },
                          "created_at": {
                            "type": "string",
                            "examples": [
                              "2026-05-20T10:30:00+00:00"
                            ]
                          },
                          "completed_at": {
                            "type": "string",
                            "examples": [
                              "2026-05-20T10:31:42+00:00"
                            ]
                          }
                        }
                      },
                      "examples": [
                        [
                          {
                            "payout_id": "POabcdef1234567890abcdef1234567890",
                            "status": "completed",
                            "amount": {
                              "total": 5000,
                              "currency": "XAF"
                            },
                            "payout_method": "mtn_mobile_money",
                            "recipient": {
                              "phone": "+237600000000",
                              "name": "Jane Doe"
                            },
                            "reference": "refund-ORD-123",
                            "created_at": "2026-05-20T10:30:00+00:00",
                            "completed_at": "2026-05-20T10:31:42+00:00"
                          }
                        ]
                      ]
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        },
                        "per_page": {
                          "type": "integer",
                          "examples": [
                            20
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "examples": [
                            1
                          ]
                        },
                        "has_more": {
                          "type": "boolean",
                          "examples": [
                            false
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "data": [
                        {
                          "payout_id": "POabcdef1234567890abcdef1234567890",
                          "status": "completed",
                          "amount": {
                            "total": 5000,
                            "currency": "XAF"
                          },
                          "payout_method": "mtn_mobile_money",
                          "recipient": {
                            "phone": "+237600000000",
                            "name": "Jane Doe"
                          },
                          "reference": "refund-ORD-123",
                          "created_at": "2026-05-20T10:30:00+00:00",
                          "completed_at": "2026-05-20T10:31:42+00:00"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 20,
                        "total": 1,
                        "has_more": false
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payouts"
        ]
      },
      "post": {
        "summary": "Create a payout",
        "operationId": "createAPayout",
        "description": "Send funds from your available balance to a recipient. Requires sufficient\nbalance in the requested currency.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payout_id": {
                          "type": "string",
                          "examples": [
                            "POabcdef1234567890abcdef1234567890"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "examples": [
                            "processing"
                          ]
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "examples": [
                                5000
                              ]
                            },
                            "currency": {
                              "type": "string",
                              "examples": [
                                "XAF"
                              ]
                            }
                          }
                        },
                        "payout_method": {
                          "type": "string",
                          "examples": [
                            "mtn_mobile_money"
                          ]
                        },
                        "recipient": {
                          "type": "object",
                          "properties": {
                            "phone": {
                              "type": "string",
                              "examples": [
                                "+237600000000"
                              ]
                            },
                            "name": {
                              "type": "string",
                              "examples": [
                                "Jane Doe"
                              ]
                            }
                          }
                        },
                        "reference": {
                          "type": "string",
                          "examples": [
                            "refund-ORD-123"
                          ]
                        },
                        "created_at": {
                          "type": "string",
                          "examples": [
                            "2026-05-20T10:30:00+00:00"
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "payout_id": "POabcdef1234567890abcdef1234567890",
                        "status": "processing",
                        "amount": {
                          "total": 5000,
                          "currency": "XAF"
                        },
                        "payout_method": "mtn_mobile_money",
                        "recipient": {
                          "phone": "+237600000000",
                          "name": "Jane Doe"
                        },
                        "reference": "refund-ORD-123",
                        "created_at": "2026-05-20T10:30:00+00:00"
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Validation failed"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid"
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The amount field is required."
                            ]
                          ]
                        },
                        "payout_method": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The selected payout method is invalid."
                            ]
                          ]
                        },
                        "recipient_name": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The recipient name field is required."
                            ]
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "error": "Validation failed",
                      "message": "The given data was invalid",
                      "errors": {
                        "amount": [
                          "The amount field is required."
                        ],
                        "payout_method": [
                          "The selected payout method is invalid."
                        ],
                        "recipient_name": [
                          "The recipient name field is required."
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Must be at least 100.",
                    "examples": [
                      95
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "",
                    "enum": [
                      "XAF",
                      "XOF",
                      "EUR"
                    ],
                    "examples": [
                      "XAF"
                    ]
                  },
                  "payout_method": {
                    "type": "string",
                    "description": "",
                    "enum": [
                      "mtn_mobile_money",
                      "orange_money",
                      "bank_transfer"
                    ],
                    "examples": [
                      "mtn_mobile_money"
                    ]
                  },
                  "recipient_name": {
                    "type": "string",
                    "description": "'recipient_phone' => [\n'required_if:payout_method,mtn_mobile_money,orange_money',\n'string',\n'regex:/^(\\+237|237)?[67]\\d{8}$/'\n],. Must not be greater than 255 characters.",
                    "examples": [
                      "z"
                    ]
                  },
                  "recipient_email": {
                    "type": "string",
                    "description": "Must be a valid email address. Must not be greater than 255 characters.",
                    "examples": [
                      "rempel.chadrick@example.org"
                    ]
                  },
                  "bank_account_number": {
                    "type": "string",
                    "description": "This field is required when <code>payout_method</code> is <code>bank_transfer</code>. Must not be greater than 50 characters.",
                    "examples": [
                      "l"
                    ]
                  },
                  "bank_name": {
                    "type": "string",
                    "description": "This field is required when <code>payout_method</code> is <code>bank_transfer</code>. Must not be greater than 100 characters.",
                    "examples": [
                      "j"
                    ]
                  },
                  "bank_code": {
                    "type": "string",
                    "description": "Must not be greater than 20 characters.",
                    "examples": [
                      "nikhwaykcmyuwpwl"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "Must not be greater than 500 characters.",
                    "examples": [
                      "Incidunt iure odit et et modi ipsum."
                    ]
                  },
                  "reference": {
                    "type": "string",
                    "description": "Must not be greater than 255 characters.",
                    "examples": [
                      "p"
                    ]
                  }
                },
                "required": [
                  "amount",
                  "payout_method",
                  "recipient_name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/payouts/{payoutId}": {
      "get": {
        "summary": "Get payout status",
        "operationId": "getPayoutStatus",
        "description": "Returns the current status of a payout. Processing payouts are\nautomatically refreshed against the provider before responding.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payout_id": {
                          "type": "string",
                          "examples": [
                            "POabcdef1234567890abcdef1234567890"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "examples": [
                            "completed"
                          ]
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "examples": [
                                5000
                              ]
                            },
                            "currency": {
                              "type": "string",
                              "examples": [
                                "XAF"
                              ]
                            }
                          }
                        },
                        "payout_method": {
                          "type": "string",
                          "examples": [
                            "mtn_mobile_money"
                          ]
                        },
                        "recipient": {
                          "type": "object",
                          "properties": {
                            "phone": {
                              "type": "string",
                              "examples": [
                                "+237600000000"
                              ]
                            },
                            "name": {
                              "type": "string",
                              "examples": [
                                "Jane Doe"
                              ]
                            }
                          }
                        },
                        "reference": {
                          "type": "string",
                          "examples": [
                            "refund-ORD-123"
                          ]
                        },
                        "created_at": {
                          "type": "string",
                          "examples": [
                            "2026-05-20T10:30:00+00:00"
                          ]
                        },
                        "completed_at": {
                          "type": "string",
                          "examples": [
                            "2026-05-20T10:31:42+00:00"
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "payout_id": "POabcdef1234567890abcdef1234567890",
                        "status": "completed",
                        "amount": {
                          "total": 5000,
                          "currency": "XAF"
                        },
                        "payout_method": "mtn_mobile_money",
                        "recipient": {
                          "phone": "+237600000000",
                          "name": "Jane Doe"
                        },
                        "reference": "refund-ORD-123",
                        "created_at": "2026-05-20T10:30:00+00:00",
                        "completed_at": "2026-05-20T10:31:42+00:00"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Not found"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Resource not found"
                      ]
                    }
                  },
                  "examples": [
                    {
                      "error": "Not found",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payouts"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "payoutId",
          "description": "",
          "required": true,
          "schema": {
            "type": "string",
            "examples": [
              "POabcdef1234567890abcdef1234567890"
            ]
          }
        }
      ]
    },
    "/api/v1/validate-recipient": {
      "post": {
        "summary": "Validate a payout recipient",
        "operationId": "validateAPayoutRecipient",
        "description": "Check whether a phone number can receive a payout before creating one.\nReturns the recipient's registered name if available.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "boolean",
                          "examples": [
                            true
                          ]
                        },
                        "recipient_name": {
                          "type": "string",
                          "examples": [
                            "Jane Doe"
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "success": true,
                      "data": {
                        "valid": true,
                        "recipient_name": "Jane Doe"
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Validation failed"
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "recipient": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "examples": [
                            [
                              "The recipient field is required."
                            ]
                          ]
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "error": "Validation failed",
                      "errors": {
                        "recipient": [
                          "The recipient field is required."
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipient": {
                    "type": "string",
                    "description": "The recipient's phone number (digits only, no country prefix).",
                    "examples": [
                      "600000000"
                    ]
                  }
                },
                "required": [
                  "recipient"
                ]
              }
            }
          }
        }
      }
    }
  }
}